modal(class='{ visible: visible }')
    .overlay(if='{ visible }', onclick='{ close }')
    .container(if='{ visible }')
        //- header.modal-header
        //-     button.close(onclick='{ close }')
        //-         | ×
        .modal-body
            //- yield
            .spliter
                .split
                    h1
                        | { info.name }
                    | Entrance Fee(valid for one entry): { info.price } ETH
                .split
                    .thumb
                        img(src='{ info.url }')
            | By click `Enter`, Metamask will proceed the transaction with you, please wait until the transaction is confirmed.
            | After the transaction is confirmed, it will bring you to the exhibition entrance.
        footer.modal-footer
            button.ok(onclick='{ ok }' if='{ canEnter }')
                | Enter
            button.cancel(onclick='{ close }')
                | Close
    script.
        import { Modal } from './modal'
        new Modal(this, opts)
