app
    app-hero
    .items
        .item(each='{ item in items }')
            img(src='{ item.url }' onclick='{ showMod(item) }')
            | { item.name }
    modal(ref='mod')
    script.
        import './lib/modal'
        import './app-hero'
        import { App } from './app'
        new App(this)
