app
    app-hero
    .item(each='{ items }')
        img(src='{ url }')
        | { name }
    button(onclick='{ cool(w3) }') click
    script.
        import './app-hero'
        import { w3cli, items, cool } from './_app'
        const tag = this
        tag.items = items
        tag.cool = cool
        tag.w3 = w3cli
